.formComponent {
    &__container {
        background: #e7e7e7;
        padding: 50px;
        display: flex;
        justify-content: center;
    }

    &__form_input {
        height: 30px;
        width: 270px;
    }

    &__form_label {
        width: 130px;
        display: inline-block;
    }

    &__form_submit {
        background: #c8102e;
        border-radius: 0.5rem;
        color: #FFFFFF;
        font-size: 16px;
        padding: 1rem 1.75rem;
        width: 100%;
        border: 0;
        cursor: pointer;
    }

    &__form_submit:hover {
        background: #9d2235;
    }

    &__form_message {
        color: #ec6b6b;
    }
}