<div ngClass="{{componentClassPrefix}}__container">
    <form [formGroup]="paymentsForm" (ngSubmit)="onSubmit()" novalidate>

        <p>
            <label for="memberName">Name </label>
            <input type="text" id="memberName" name="memberName" formControlName="memberName">
        </p>

        <div
            *ngIf="!registerFormControl?.['memberName']?.valid && (registerFormControl?.['memberName']?.dirty ||registerFormControl?.['memberName']?.touched)">
            <div [hidden]="!registerFormControl?.['memberName']?.errors?.['required']">
                Name is required
            </div>
        </div>

        <p>
            <label for="email">email</label>
            <input type="email" id="email" name="email" formControlName="email">
        </p>

        <!-- <div *ngIf="!lastname.valid && (lastname.dirty ||lastname.touched)">
          <div [hidden]="!lastname.errors.pattern">
            Only characters are allowed
          </div>
          <div [hidden]="!lastname.errors.maxLength">
            Max length allowed is {{lastname.errors.maxlength?.requiredLength}} 
          </div>
          <div [hidden]="!lastname.errors.required">
            Last Name is required
          </div>
        </div> -->

        <p>
            <label for="accountNumber">Account Number </label>
            <input type="text" id="accountNumber" name="accountNumber" formControlName="accountNumber">
        </p>
        <!-- <div *ngIf="!email.valid && (email.dirty ||email.touched)">
          <div [hidden]="!email.errors.required">
            email is required
          </div>
          <div [hidden]="!email.errors.email">
            invalid email id
          </div>
        </div> -->


        <p>
            <label for="paymentAmount">Payment Amount </label>
            <input type="text" id="paymentAmount" name="paymentAmount" formControlName="paymentAmount">
        </p>
        <!-- <div *ngIf="!gender.valid && (gender.dirty ||gender.touched)">
          <div [hidden]="!gender.errors.required">
            gender is required
          </div>
        </div> -->



        <p>
            <button type="submit">Submit</button>
        </p>

    </form>
</div>